# =========================
# Java / Spring Boot
# =========================

**/target/
**/.mvn/
*.class

# =========================
# Node / React
# =========================

**/node_modules/
**/dist/

# =========================
# Environment files
# =========================

.env
.env.*
!.env.example

# =========================
# Logs
# =========================

*.log

# =========================
# IDE
# =========================

.classpath
.project
.settings/
.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db